# sshd_config

# Port and Protocol configuration
Port <%= @sshd_port %>
Protocol <%= @sshd_protocol %>

# Authentication settings
PermitRootLogin no
PasswordAuthentication yes
ChallengeResponseAuthentication no
UsePAM yes

# Logging
SyslogFacility AUTH
LogLevel INFO

# HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and algorithms
Ciphers aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-256,hmac-sha2-512

# LoginGraceTime
LoginGraceTime 2m

# Permit user environment
PermitUserEnvironment no

# Subsystem for SFTP
Subsystem sftp /usr/lib/openssh/sftp-server

# Use DNS to resolve hostnames
UseDNS no

# Allow TCP forwarding
AllowTcpForwarding yes

# X11 forwarding
X11Forwarding yes

# MaxStartups for throttling attempts to connect
MaxStartups 10:30:100

# Print MOTD
PrintMotd no

# Accept locale-related environment variables
AcceptEnv LANG LC_*
